*.desktop
*.gmo
*.la
*.lo
*.moc.cpp
*.o
*.pc
*.schemas
*~
.deps
.libs
ABOUT-NLS
ChangeLog
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
compiz-[0-9].[0-9].*
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
configure.lineno
cscope.*
depcomp
doltcompile
doltlibtool
gtk/window-decorator/gtk-window-decorator
include/compiz-common.h
install-sh
libtool
ltmain.sh
m4
metadata/core.xml.in
missing
mkinstalldirs
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/compiz.pot
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/stamp-po
shave
shave-libtool
src/compiz
stamp-h1

