.deps
.libs
Makefile
Makefile.in
*.la
*.lo
*.o
*.gmo
*.schemas
*.pc
*.desktop
*.moc.cpp
*~
intltool*
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.lineno
depcomp
doltcompile
doltlibtool
install-sh
libtool
ltmain.sh
missing
shave
shave-libtool
stamp-h1
cscope.*
src/compiz
gtk/window-decorator/gtk-window-decorator
include/compiz-common.h
metadata/core.xml.in
mkinstalldirs
po/.intltool-merge-cache
po/Makefile.in.in
po/POTFILES
po/stamp-it

